body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #780206, #061161);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body h1 {
    color: #fff;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    /* Set a max width to control size */
    min-width: 400px;
    max-width: 90%
}

#guessContainer,
#currentGuessContainer {
    margin-bottom: 20px;
}

.cell {
    color: #fff;
    display: inline-block;
    width: 50px;
    /* Increased width of each cell */
    height: 50px;
    /* Increased height of each cell */
    margin: 5px;
    font-size: 24px;
    /* Increased font size for better readability */
    text-align: center;
    line-height: 50px;
    /* Center text vertically */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.correct {
    background-color: green;
    color: white;
}

.present {
    background-color: yellow;
    color: black;
}

.absent {
    background-color: gray;
    color: white;
}

#message {
    color: #fff;
}

#restart {
    display: none;
    /* Default to hidden, as it only shows after the game ends */
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    /* Green background */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart:hover {
    background-color: gray;
    ;
    /* Darker green on hover */
}